---
import Popup from "@/icons/popup.astro"
import Section from "../Section.astro"
import type { CV } from "@/types/cv"
// import type { Certificates } from "@/types/cv.ts"

interface Props {
  certificates: CV["certificates"][]
}

const {certificates} = Astro.props
console.log({certificates})
---

<Section title="Certificados">
  <ul>
    {
      certificates.map(
        ({ name, date, issuer, url, }) => {
          return (
            <li>
              <article>
                <header>
                  <h3><time>
                    <span>{date}</span>
                  </time>
                  </h3>
                  <h3>
                    <a href={url} target="_blank" rel="noopener noreferrer" title={
                      `Certificado de ${name} emitido por ${issuer}`
                    }>
                      {name}
                    <Popup />
                    </a>
                  </h3>
                </header>
                <footer>
                  <span>{issuer}</span>
                </footer>
              </article>
            </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 1rem;
  }

  article {
    border-radius: 8px;
    border: 2px solid var(--block-quote-border);
    gap: 16px;
    display: flex;
    flex-direction: column;
    padding: 16px;
    height: 100%;
  }

  article header {
    flex: 1;
  }

  article h3 {
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 4px;
  }

  article a {
    color: var(--bold-text);
  }

  article a:hover {
    text-decoration: underline;
  }

  time {
    color: var(--block-quote-border);
    font-size: 0.85rem;
    min-width: 102px;
    text-wrap: nowrap;
    user-select: none;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
  }

  footer span {
    border-radius: 6px;
    background: var(--pills-bg);
    color: var(--pills-text);
    font-size: 0.6rem;
    font-weight: 500;
    padding: 0.2rem 0.6rem;
  }

  .icon {
    color: var(--bold-text);
    margin-left: 5px;
  }

</style>
