---
import Section from "../Section.astro"

import { education } from "@cv"
---

<Section title="Educación">
  <ul>
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear()
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual"
        const years = `${startYear} - ${endYear}`

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>
                <div class="time">
                  <h3><time>{years}</time></h3>
                </div>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    /* gap: 32px; */
  }

  li {
    padding: 1rem 0px 0px 1rem;
    border-left: 1px solid var(--block-quote-border);
    position: relative;
    display: flex;
  }
  
  li:before {
    content: "";
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background-color: var(--block-quote-border);
    position: absolute;
    top: 24px;
    right: auto;
    left: -4px;
  }

  article {
    width: 100%;
  }

  article h3 {
    font-size: large;
    font-weight: 500;
    color: var(--bold-text);
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }
  
  time {
    color: var(--block-quote-border);
    font-size: 0.85rem;
    min-width: 102px;
    text-wrap: nowrap;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
