---
import Section from "../Section.astro"
import { work } from "@cv"

console.log({
  work,
})

---

<Section title="Experiencia laboral">
  <ul>
    {
      work.map(
        ({ name, startDate, endDate, position, summary, highlights, url }) => {
          const startYear = new Date(startDate).getFullYear()
          const endYear =
            endDate != null ? new Date(endDate).getFullYear() : "Actual"
          const years = `${startYear} - ${endYear}`

          return (
              <li>
                <div class="bullet"></div>
                <article>
                  <header>
                    <div>
                      <h3>
                        <a href={url} title={`Ver ${name}`} target="_blank">
                          {name}
                        </a>
                      </h3>
                      <h4>{position}</h4>
                    </div>
                    <h3><time>{years}</time></h3>
                  </header>

                  <footer>
                    <p>{summary}</p>
                  </footer>
                </article>
              </li>
          )
        }
      )
    }
  </ul>
</Section>

<style>
  ul {
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    z-index:-1;
  }

  li {
    padding: 1rem 0px 0px 1rem;
    border-left: 2px solid var(--block-quote-border);
    position: relative;
    display: flex;
    z-index:1;
  }

  .bullet {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    border: solid 4px var(--block-quote-border);
    position: absolute;
    top: 24px;
    left: -5px;
  }

  article {
    width: 100%;
  }

  article h3 {
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--bold-text);
  }

  article a {
    color: var(--nav-text);
  }

  article a:hover {
    text-decoration: underline;
  }

  article h4 {
    color: var(--bold-text);
    font-weight: 400;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 4px;
  }

  time {
    color: var(--block-quote-border);
    font-size: 0.85rem;
    min-width: 102px;
    text-wrap: nowrap;
  }

  @media (width <= 700px) {
    time {
      text-align: right;
    }
  }
</style>
