---
<<<<<<< HEAD
import Info from "./Info.astro";
import Section from "@/components/Section.astro";

interface Props {
  name: string;
  label: string;
  email: string;
  phone: string;
  location: {
    city: string;
    region: string;
  };
  profiles: {
    network: string;
    url: string;
    username: string;
  }[];
}
=======
import Info from "./Info.astro"
import Section from "@/components/Section.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import type { SocialIcon } from "@/types/types/types"

interface Props {
  name: string
}

const {
  name,
} = Astro.props

>>>>>>> 40e6ebf70c6bedc83c245672043cb40dab10480c

const { name, label, email, phone, location, profiles } = Astro.props;
---

<Section>
  <div class="profileContainer">
    <figure>
      <a href="/me">
<<<<<<< HEAD
        <img transition:name="profile" src="me_big.jpg" alt={name} />
=======
        <img transition:name="profile" src="me_big.jpg" alt={name}/>
>>>>>>> 40e6ebf70c6bedc83c245672043cb40dab10480c
      </a>
    </figure>
    <Info
      name={name}
      label={label}
      email={email}
      phone={phone}
      location={location}
      profiles={profiles}
    />
  </div>
</Section>

<style>
  img {
    aspect-ratio: 4 / 5;
    object-fit: cover;
    border-radius: 16px;
    width: 100%;
  }

  .profileContainer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .info {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    /* justify-content: center; */
    width: 100%;
  }

  figure {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }

  @media (width <= 700px) {
    main {
      padding: 1rem 2rem;
    }
  }
</style>
