---
import { basics } from "@cv"
import Info from "../sections/Info.astro"
import Image from "@/components/Image.astro"

const { name, label, location, profiles, phone, email } = basics
const { link } = Astro.props

---

  <div class="container">
      <Info
        name={name}
        label={label}
        location={location}
        profiles={profiles}
        phone={phone}
        email={email}
      />
    <figure>
      <a href={link} data-astro-prefetch >
        <Image />
      </a>
    </figure>
  </div>

<style>
  
  .container {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    max-width: 1000px;
    margin: 1rem 0;
    padding-left: 2rem;
    padding-right: 2rem;
  }

  @media (width <= 700px) {

    .container {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }

  }
</style>
