---
import { basics } from "@cv"
import Mail from "@/icons/Mail.astro"
import Phone from "@/icons/Phone.astro"
import X from "@/icons/X.astro"
import LinkedIn from "@/icons/LinkedIn.astro"
import GitHub from "@/icons/GitHub.astro"
import WorldMap from "@/icons/WorldMap.astro"
import Toggle from "@/components/ThemeChange.astro"

import type { SocialIcon } from "@/types"

const { name, label, location, profiles, phone, email } = basics
const { city, region } = location

const SOCIAL_ICONS: SocialIcon = {
  GitHub,
  LinkedIn,
  X,
}

const linkedInfo = profiles.find(({ network }) => network === "LinkedIn")
const linkedUrl = linkedInfo?.url

const printInfo = [email, phone, linkedUrl].filter(Boolean).join(" • ")

---
  <div class="info" >
    <h1 class="name">{name}</h1>
    <p class="desc">{label}</p>
    <!-- <span class="location">
      <WorldMap />
      {region}
    </span> -->
    <footer class="print">
      {printInfo}
    </footer>
      <div class="icons-inline">
        <footer class="no-print">
          {
            email && (
              <a
                href={`mailto:${email}`}
                title={`Enviar un correo electrónico a ${name} al correo ${email}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Mail />
              </a>
            )
          }
          {
            phone && (
              <a
                href={`tel:${phone}`}
                title={`Llamar por teléfono a ${name} al número ${phone}`}
                target="_blank"
                rel="noopener noreferrer"
              >
                <Phone />
              </a>
            )
          }
          {
            profiles.map(({ network, url, username }) => {
              const Icon = SOCIAL_ICONS[network]

              return (
                <a
                  href={url}
                  title={`Visitar el perfil de ${name} en ${network}`}
                  target="_blank"
                  rel="noopener noreferrer"
                >
                  <Icon />
                </a>
              )
            })
          }
        </footer>
        <Toggle />
      </div>
    </div>

<style>

  .info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: var(--profile-img-max-width);
  }

  .icons-inline {
    display: flex;
    justify-content:flex-start;
    align-items: center;
    width: 100%;
  }

  h1 {
    font-size: 2rem;
    color: var(--bold-text);
    font-weight: 500;
  }

  /* span {
    color: var(--color-text);
    display: flex;
    align-items: center;
    gap: 0.25rem;
    font-size: 0.85rem;
    letter-spacing: -0.05rem;
  } */

  footer {
    color: var(--color-text);
    font-size: 0.85rem;
    display: flex;
    align-items: center;
    gap: 4px;
  }

  footer a {
    color: var(--bold-text);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--block-quote-border);
    padding: 4px;
    height: 32px;
    width: 32px;
    border-radius: 6px;
  }

  footer a:hover {
    background: var(--slider-bg);
    border-color: var(--hover-border-color);
    transform: scale(1.1);
    transition: transform 0.2s ease-out;
  }

  @media (width <= 700px) {

    .hidden {
      height : 0;
      overflow : hidden;
    }

    .collapse {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;
    }

    h1.text-sm {
      font-size: 1.5rem;
      transform: translateY(1rem);
    }

    .icons-inline {
      justify-content: space-between;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

  }
</style>