---
import Layout from "@/layouts/Layout.astro";

import About from "@/components/sections/About.astro";
import Education from "@/components/sections/Education.astro";
import Languages from "@/components/sections/Languages.astro";
import Experience from "@/components/sections/Experience.astro";
import Hero from "@/components/sections/Hero.astro";
import Projects from "@/components/sections/Projects.astro";
import Certificates from "@/components/sections/Certificates.astro";
import Skills from "@/components/sections/Skills.astro";
import Footer from "@/components/sections/Footer.astro";

import {
  titles,
  basics,
  certificates,
  work,
  education,
  languages,
  projects,
  skills,
} from "@cv";

const { name } = basics;
console.log({ projects });
---

<script src="/lib/theme-util.js" type="text/javascript" is:inline defer
></script>

<Layout title={`CV de ${name}`}>
  <header>
    <Hero basics={basics} />
  </header>
  <main transition:name="main-section">
    <About basics={basics} titles={titles} />
    <Experience work={work} titles={titles} />
    <Certificates certificates={certificates} titles={titles} />
    <Education education={education} titles={titles} />
    <Languages languages={languages} titles={titles} />
    <Projects projects={projects} titles={titles} />
    <Skills skills={skills} titles={titles} />
    <Footer />
  </main>
  <!-- <KeyboardManager /> -->
</Layout>

<style>
  :root {
    --profile-img-max-width: 500px;
  }

  header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  main {
    padding: 2rem;
    margin-bottom: 1rem;
    max-width: 1000px;
  }

  @media (width <= 700px) {
    main {
      padding: 1rem;
    }

    .info {
      justify-content: center;
      align-items: center;
      padding-right: 0;
      text-align: center;
    }

    figure {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
    }

    .desc {
      text-wrap: balance;
    }
  }
</style>
