---
import { basics } from "@cv"
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string
}

const { title } = Astro.props

const { image, summary, url } = basics
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ''} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />
    <ViewTransitions />
    <script src="/lib/theme-util.js" type="text/javascript" is:inline defer></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<style is:global>

:root {
  --color-bg: #f2f2f2;
  --color-text: #777;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #58b4ff;
  --hover-border-color: #80d0ff;
  /* --slider-input-bg: #8758ff; */
  /* --hover-border-color: #a380ff; */
  --color-shadow: #555;
}

[data-theme="light"] {
  --color-bg: #f2f2f2;
  --color-bg2: #fdfdfd;
  --color-text: #777;
  --bold-text: #222;
  --nav-text: #000000;
  --code: #f2f2f2;
  --block-quote-border: #999;
  --hover-border-color: #727272;
  --block-quote-text: #222;
  --slider-bg: #dddddd;
  --slider-bg-before: #fff;
  --slider-input-bg: #58b4ff;
  /* --slider-input-bg: #8758ff; */
  --color-shadow: #555;
}

[data-theme="dark"] {
  --color-bg: #222;
  --color-bg2: #212121;
  --color-text: #888;
  --bold-text: #eeeeee;
  --nav-text: #dddddd;
  --code: #f2f2f2;
  --block-quote-border: #58b4ff;
  --hover-border-color: #80d0ff;
  /* --block-quote-border: #8758ff; */
  /* --hover-border-color: #a380ff; */
  --block-quote-text: #dddddd;
  --color-shadow: #eee;
}

  html {
    font-family:
      Menlo,
      Monaco,
      Lucida Console,
      "Courier New",
      Courier,
      monospace;
    background: var(--color-bg);
    letter-spacing: -0.025rem;
    scrollbar-width:none;
    transition: all 0.1s ease-in-out;
  }

  body,
  figure {
    margin: 0;
    /* padding: 0; */
  }

  a {
    text-decoration: none;
  }

  ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  h1,
  h2,
  h3,
  h4 {
    margin: 0;
    font-family:
      system-ui,
      -apple-system,
      BlinkMacSystemFont,
      "Segoe UI",
      Roboto,
      Oxygen,
      Ubuntu,
      Cantarell,
      "Open Sans",
      "Helvetica Neue",
      sans-serif;
  }

  img {
    object-fit: cover;
    width: 148px;
    border-radius: 16px;
    /* box-shadow: 0 0 2px var(--color-shadow); */
  }

  h1 {
    font-weight: 400;
  }

  p {
    color: var(--color-text);
    font-size: 0.9rem;
    line-height: 1.5;
    margin: 0;
    text-wrap: pretty;
  }

  .print {
    display: none !important;
  }

  @media print {

    html {
      /* background: var(--slider-bg); */
    }

    h1,h2,h3,h4 {
      color: var(--bold-text);
    }

    .no-print {
      display: none !important;
    }

    .print {
      display: block !important;
    }

    astro-dev-toolbar {
      display: none !important;
    }

    article {
      break-inside: avoid;
    }
  }

  @media (width <= 700px)  {  
    html > body > main > section:first-child{
      position: sticky !important;
      top: -12rem !important;
      z-index: 1000 !important;
      background-color: var(--color-bg);
      width: 100vw;
      transform: translateX(-2rem);
      background: linear-gradient(180deg, var(--color-bg) 0%, var(--color-bg2) 100%);
      box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    }

    .desc {
      margin-bottom: 0;
    }

    html > body > main > section:first-child section {
      margin-bottom: 1rem;
    }
  }
</style>
